[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"
httpie = "*"
pylint-django = "*"

[packages]
django-stubs = "*"
psycopg2-binary = "*"
django-webpack-loader = "*"
djangorestframework = "*"
django-extensions = "*"
lib = {editable = true, path = "./libs"}
django = "*"
django-ninja = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
server = "python manage.py runserver"
test = "python manage.py test"
