@use "sass:color";

@mixin material-button($background-color: red) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;

  min-width: 64px;
  min-height: 32px;

  border: 0px;
  padding: 0px 16px;
  border-radius: 4px;
  box-sizing: border-box;

  font-weight: bold;
  letter-spacing: 0.089em;
  color: white;

  text-transform: uppercase;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: color.scale($background-color, $lightness: 20%);
  }

  &:focus {
    border: 0px;
    outline: 0px;
  }
}
