{% extends 'layouts/base.html' %} {% block content %}

    <div class="auth" data-controller="auth" data-auth-show="login">
        <div class="auth-header">
            <button data-action="click->auth#showRegister">Register</button>
        </div>
        <div class="auth-login" data-controller="login" data-target="auth.login">
            <span data-target="login.error"></span><br/>
            <label>Username: </label><input data-target="login.username" type="text">
            <label>Password: </label><input data-target="login.password" type="password">
            <button data-action="click->login#submit">Login</button>
        </div>
        <div class="auth-register hidden" data-controller="register" data-target="auth.register">
            <label>Username:</label>
            <input type='text' data-target="register.username"/>
            <label>Password:</label>
            <input type='password' data-target="register.password"/>
            <label>Email:</label>
            <input type='text' data-target="register.email"/>
            <label>First name:</label>
            <input type='text'  data-target="register.firstName"/>
            <label>Last Name:</label>
            <input type='text'  data-target="register.lastName"/>
            <button data-action="click->register#submit">Register</button>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% load webpack %}
    <script type="text/javascript" src="{% assets 'auth'%}"></script>
{% endblock scripts %}