{% extends 'layouts/base.html' %} {% block content %}

    <div data-controller="login">
        <span data-target="login.error"></span><br/>
        <label>Username: </label><input data-target="login.username" type="text">
        <label>Password: </label><input data-target="login.password" type="password">
        <button data-action="click->login#submit">Login</button>
    </div>
{% endblock content %}

{% block scripts %}
    {% load webpack %}
    <script type="text/javascript" src="{% assets 'login'%}"></script>
{% endblock scripts %}