@import "../../common/styles/base";

body {
  .auth {
    font-size: 1.5em;
    width: 20em;
    background-color: rgb(118, 106, 106);
    border: 1px solid grey;
    border-radius: 4px;
    margin: auto;

    display: flex;
    justify-content: center;
    padding: 1em;
    color: rgb(229, 229, 229);

    input {
      display: block;
      margin: 0.9em 0;
      font-size: 15px;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 1px solid white;
      padding: 0px 3px;
      color: white;
    }

    .primary-button {
      @include material-button($purple);
    }

    .secondary-button {
      @include material-button($purple, "text");
    }

    .hidden {
      display: none;
    }
  }
}
